<!DOCTYPE html>
    <html lang="en">
        <%- include('../templates/head.ejs') -%>
    <body class="bg-primary">
        <%- include('../templates/header.ejs') -%>
        <div class="container-fluid ">
        <div id="carouselExampleCaptions" class="" data-ride="">
            <div class="">
              <div class="">
                <img src="https://www.lookinggood.com.au/wp-content/uploads/2018/02/Sports-Shoes-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="font-weight-bold">
                    Welcome to AthleticZone</h1>
                  <p>Your one-stop shop for all your sports wear needs</p>
                  <a href="/products">
                    <button class="rounded border px-2 py-1">Shop now</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/bootstrap/js/dist/util.js"></script>
    </body>
</html>